<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="edu.ucdenver.server.Main" />
    <module name="PA1" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>